{% extends "admin.html" %}

{% block operate %}
<div class="container">
    <h3>用户一览</h3>
    {{form_open("/admin/user/index", "class=\"form-inline\"")|raw}}
        <span class="label">登录ID</span>
        {{form_input("username", search.username, "placeholder=\"登录ID\"")|raw}}
        <span class="label">用户类型</span>
        {{form_dropdown("role", param.role, search.role)|raw}}
        <span class="label">是否可用</span>
        {{form_dropdown("enable", param.enable, search.enable, "class=\"input-small\"")|raw}}
        <button type="submit" class="btn btn-primary">Go!</button>
    </div>
    </form>
</div>
{% endblock %}

{% block data %}
<div class="container">
    <table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>登录ID</th>
            <th>显示名</th>
            <th>手机号</th>
            <th>用户类型</th>
            <th>是否可用</th>
            <th>登录时间</th>
        </tr>
    </thead>
    <tbody>
    {% for item in users %}
        <tr>
            <td>{{loop.index + search.start}}</td>
            <td><a href="{{site_url()}}/admin/user/edit/{{item.id}}">{{item.username}}</a></td>
            <td>{{item.name}}</td>
            <td>{{item.phone}}</td>
            <td>{{option_value("role", item.role)}}</td>
            <td class="center">
            {% if item.enable == 'Y' %}
            <span class="label label-success">
            {{option_value("enable", item.enable)}}
            </span>
            {% else %}
            <span class="label">
            {{option_value("enable", item.enable)}}
            </span>
            {% endif %}
            </td>
            <td>{{item.last_logged}}</td>
        </tr>
    {% else %}
        <tr><td colspan="7"><em>查了半天，没有数据，不如添加一条吧.</em></td></tr>
    {% endfor %}
    </tbody>
    </table>
    <a class="btn span2" href="{{site_url()}}/admin/user/edit/0">新增</a>
    {{pagination|raw}}
</div>

{% endblock %}
