{% extends "admin.html" %}

{% block operate %}
<div class="container">
    <h1>交易登记</h1>
    {{form_open("/admin/car/deal/", "class=\"form-inline\"")|raw}}
        <span class="label">手机号</span>
        {{form_input("phone", search.phone, "placeholder=\"手机号\"")|raw}}
        <button type="submit" class="btn btn-primary">Go!</button>
    </div>
    </form>
</div>
{% endblock %}

{% block data %}
<div class="container">
    <table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>姓名</th>
            <th>手机号</th>
            <th>型号</th>
            <th>出售类别</th>
            <th>等级</th>
            <th>出让价(RMB)</th>
            <th>销售状态</th>
            <th>登记日期</th>
        </tr>
    </thead>
    <tbody>
    {% for item in cars %}
        <tr>
            <td>{{loop.index + search.start}}</td>
            <td><a href="{{site_url()}}/admin/car/deal/{{item.id}}/edit">{{item.user_name}}</a></td>
            <td>{{item.user_phone}}</td>
            <td>{{model_value(item.model)}}</td>
            <td>{{option_value("sale_type", item.sale_type)}}</td>
            <td>{{item.condition_score ~ item.accident_level}}</td>
            <td>{{item.sale_price|number_format}}</td>
            <td>{{option_value("sale_status", sale_status(item.sale_start_date, item.sale_end_date))}}</td>
            <td>{{item.created|date('Y-m-d')}}</td>
        </tr>
    {% else %}
        <tr><td colspan="8"><em>查了半天，没有数据，等会刷新一下吧.</em></td></tr>
    {% endfor %}
    </tbody>
    </table>
    {{pagination|raw}}
</div>

{% endblock %}
