{% extends "admin.html" %}

{% block operate %}
{% endblock %}

{% block data %}
<div id="deal" class="container">
    <h3>交易登记: {{car.user_name}}
    <span class="label{%if sale_status == "selling" %} label-success{% elseif sale_status == "presale" %} label-info {% endif %}">{{option_value("sale_status", sale_status)}}</span>
    </h3>
    <hr>

    <p id="msg"></p>
    {{form_open("/admin/deal/save/" ~ car.id, "class=\"form-horizontal\" enctype=\"multipart/form-data\"")|raw}}

    <ul class="nav nav-tabs" id="myTab">
        <li><a href="#customer">客户资料</a></li>
        <li><a href="#baseinfo">车辆 - 基本信息</a></li>
        <li><a href="#config">车辆 - 重要配置</a></li>
        <li><a href="#detect">车辆 - 技术鉴定</a></li>
        <li><a href="#albums">车辆 - 图片管理</a></li>
        <li class="active"><a href="#sale-status">车辆 - 销售状况</a></li>        
    </ul>

    <div class="tab-content">
        <!-- start customer -->
        <div class="tab-pane" id="customer">
            <div class="control-group">
                <label class="control-label" for="inputName">姓名</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{car.user_name}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPhone">手机号</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{car.user_phone}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputArea">地区</label>
                <div class="controls">
                    <span class="input-medium uneditable-input span4">{{area_value(car.area)}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputRemark">备注</label>
                <div class="controls well well-small">
                    {{car.remark|nl2br}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">登记日期</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{car.created}}</span>
                </div>
            </div>
        </div>
        <!-- end customer -->
        <!-- start baseinfo -->
        <div class="tab-pane" id="baseinfo">
            <div class="control-group">
                <label class="control-label">验车单ID</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{car.cert_code}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputSaleType">销售类型</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{option_value("sale_type", car.sale_type)}}</span>
                </div>
            </div>	
            <div class="control-group">
                <label class="control-label" for="inputModel">品牌型号</label>
                <div class="controls">
                    <span class="input-medium uneditable-input span4">{{model_value(car.model)}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputCarNum">牌照号码</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{car.car_num}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputEngineNum">发动机号</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{car.engine_num}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputChassisNum">车架号(VIN码)</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{car.chassis_num}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputFactoryDate">出厂日期</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{car.factory_date|date('Y-m-d')}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputBuyDate">初次登记日期</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{car.buy_date|date('Y-m-d')}}</span>
                </div>
            </div>														
            <div class="control-group">
                <label class="control-label" for="inputMileage">表征里程</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{car.mileage|number_format}} 公里</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputColor">车身颜色</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{option_value("color", car.color)}} <font style="background-color:{{car.color}}">{{str_repeat("&nbsp;", 8)|raw}}</font></span>
                </div>
            </div>			
            <div class="control-group">
                <label class="control-label" for="inputAnnualTest">年检截至年月</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{% if car.annual_test %}{{car.annual_test|date('Y-m-d')}} {% else %} 无 {% endif %}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputTaxCert">购置税证书</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{option_value('exists', car.tax_cert)}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputVVTax">车船税截至年月</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{% if car.vv_tax %}{{car.vv_tax|date('Y-m-d')}} {% else %} 无 {% endif %}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputTrafficInsurance">交强险截至年月</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{% if car.traffic_insurance %}{{car.traffic_insurance|date('Y-m-d')}} {% else %} 无 {% endif %}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputUseOfNature">使用性质</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{option_value('use_of_nature', car.use_of_nature)}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputOtherCertType">其他法定凭证、证明</label>
                <div class="controls">
                    <span class="input-large uneditable-input">
                        {% if car.other_cert_type == 'other' %}
                        {{car.other_cert_value}}
                        {% else %}
                        {{option_value('other_cert_type', car.other_cert_type)}}
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">保险/证件信息备注</label>
                <div class="controls well well-small">
                    {{car.cert_remark|nl2br}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputOwnerName">车主名称/姓名</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{car.owner_name}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputIdcardNum">法人证书代码/身份证号码</label>
                <div class="controls">
                    <span class="input-large uneditable-input">{{car.idcard_num}}</span>
                </div>
            </div>
        </div>
        <!-- end baseinfo -->
        <!-- start config -->
        <div class="tab-pane" id="config">
            <div class="control-group">
                <label class="control-label" for="inputFuel">燃料标号</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{option_value("fuel", car.fuel)}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputDisplacement">排量</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{car.displacement}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputCylinder">缸数</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{option_value("cylinder", car.cylinder)}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputEnginePower">发动机功率</label>
                <div class="controls">
                    <span class="input-large uneditable-input">{{car.engine_power}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputEmissionStd">排放标准</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{option_value("emission_std", car.emission_std)}}</span>
                </div>
            </div>					
            <div class="control-group">
                <label class="control-label" for="inputTransmission">变速箱</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{option_value("transmission", car.transmission)}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputAirSac">气囊</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{option_value("air_sac", car.air_sac)}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputDriveMode">驱动方式</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{option_value("drive_mode", car.drive_mode)}}</span>                
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputOtherConf">其他重要配置</label>
                <div class="controls well well-small">
                    {{car.other_conf}}
                </div>
            </div>
        </div>
        <!-- end config -->						
        <!-- start detect -->
        <div class="tab-pane" id="detect">
            {% set extra = json_decode(car.extra, true)%}
            <div class="control-group">
                <label class="control-label" for="inputIssueCar">是否为事故车</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{option_value("exists", extra.issue_confirm)}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">损伤位置及损伤状况</label>
                <div class="controls  well well-small">
                    {{extra.issue_info|nl2br}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputExtBody">车身检查(<em>总分: 20 </em>)</label>
                <div class="controls well well-small">
                    <span class="label label-inverse">{{extra.appraisal_body_score}}分</span>
                    {{extra.appraisal_body_comment|nl2br}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputExtEngine">发动机检查(<em>总分: 20 </em>)</label>
                <div class="controls well well-small">
                    <span class="label label-inverse">{{extra.appraisal_engine_score}}分</span>
                    {{extra.appraisal_engine_comment|nl2br}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputExtInner">车内检查(<em>总分: 10 </em>)</label>
                <div class="controls well well-small">
                    <span class="label label-inverse">{{extra.appraisal_inner_score}}分</span>
                    {{extra.appraisal_inner_comment|nl2br}}                
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputExtStart">启动检查(<em>总分: 20 </em>)</label>
                <div class="controls well well-small">
                    <span class="label label-inverse">{{extra.appraisal_start_score}}分</span>
                    {{extra.appraisal_start_comment|nl2br}}                  
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputExtRoad">路试检查(<em>总分: 15 </em>)</label>
                <div class="controls well well-small">
                    <span class="label label-inverse">{{extra.appraisal_road_score}}分</span>
                    {{extra.appraisal_road_comment|nl2br}}                     
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputExtChassis">底盘检查(<em>总分: 15 </em>)</label>
                <div class="controls well well-small">
                    <span class="label label-inverse">{{extra.appraisal_chassis_score}}分</span>
                    {{extra.appraisal_chassis_comment|nl2br}}                     
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputConditionScore">车况级别评分</label>
                <div class="controls">
                    <span class="input-mini uneditable-input">{{car.condition_score}}</span> {{car.appraisal_level}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">技术鉴定信息备注</label>
                <div class="controls well well-small">
                    {{extra.remark|nl2br}}
                </div>
            </div>

            <div class="money-preview hide"></div>
            <div class="control-group">
                <label class="control-label" for="inputMarketPrice">市场价(人民币)</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{car.market_price|number_format}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputdetectPrice">评估价(人民币)</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{car.sale_price|number_format}}</span>
                </div>
            </div>
        </div>
        <!-- end detect -->
        <!-- start albums -->
        <div class="tab-pane" id="albums">
            <div>
                <ul class="thumbnails">
                {% set images = json_decode(car.images, true) %}
                {% if images %}
                {% for val in images %}
                <li class="span2">
                    <img src="{{base_url()}}assets/upload/{{val}}" alt="" />
                </li>
                {% endfor %}
                {% endif %}
            </div>
            <br>
        </div>
        <!-- end albums -->
        <!-- start sale status -->
        <div class="tab-pane active" id="sale-status">
            <div class="control-group">
                <label class="control-label" for="inputSaleStartDate">销售开始时间</label>
                <div class="controls">
                    <div class="input-append">
                        <span class="input-medium uneditable-input">{{car.sale_start_date}}</span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputSaleStartDate">销售结束时间</label>
                <div class="controls">
                    <div class="input-append">
                        <span class="input-medium uneditable-input">{{car.sale_end_date}}</span>
                    </div>
                </div>
            </div>
            {% if chart %}
            <div class="control-group">
                <label class="control-label" for="inputSaleStartDate">竞拍排名(前三名)</label>
                <div class="controls well well-small">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>排名</td>
                                <td>竞拍ID</td>
                                <td>竞拍人姓名</td>
                                <td>竞拍人电话</td>
                                <td>竞价(人民币)</td>
                                <td>出价时间</td>
                                <td>地区</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, val in array_reverse(chart_extra.top, true)|slice(0, 3, true) %}
                                {% set u = chart_extra.user[key] %}
                                <tr>
                                    <td>{{loop.index}}</td>
                                    <td>{{u.username}}</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{val|number_format|default('-')}}元</td>
                                    <td></td>
                                    <td>{{area_value(u.area)}}</td>
                                </tr>
                            {% else %}
                                <tr><td colspan="4"><em>哎呀，没有数据</em></td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">竞拍次数统计</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{chart_extra.bid}}次</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">竞拍曲线</label>
                <div class="controls well well-small">
                    <div class="input-append" id="chart" data="auction">
                        <span class="input-medium uneditable-input">图表显示区域</span>
                    </div>
                    {% autoescape false %}
                    <script>
                    $(function () {
                        var chart = {{chart|raw|default("{}")}};
                        $("#chart").highcharts(chart);
                    });
                    </script>
                    {% endautoescape %}
                </div>
            </div>
            {% endif%}
        </div>
        <!-- end sale status -->
    </div>

    <div class="control-group">
        <div class="controls">
        {% if car.status == 'auction' and sale_status != 'sold' and car.sale_type == 'auction' %}
            <a class="btn btn-primary disabled">竞拍交易进行中</a>
        {% else %}
            <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">交易完成</a>
            {% if car.status == 'auction' and sale_status == 'sold' %}
            <a href="#re-auction" role="button" class="btn btn-info" data-toggle="modal">重新竞拍</a>
            {% endif %}
            <a href="#closeModal" role="button" class="btn btn-danger" data-toggle="modal">交易终止</a>
        {% endif %}
        {% if car.sale_type == 'auction' %}
            <a href="#a2c" role="button" class="btn btn-inverse" data-toggle="modal">竞拍转寄售</a>
        {% endif %}
            <a href="{{site_url()}}/admin/deal/" class="btn">返回</a>
        </div>
    </div>

    <!-- Modal Success -->
    <div id="myModal" class="modal hide fade upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">交易信息</h3>
    </div>
    <div class="modal-body">
        <div id="modal-msg" class="label label-success"></div>
        <div class="well well-small">
            {% if car.sale_type == 'auction' %}
            <table class="table table-bordered select-user">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>排名</td>
                        <td>竞拍ID</td>
                        <td>竞价(人民币)</td>
                    </tr>
                </thead>
                <tbody>
                    {% for key, val in array_reverse(chart_extra.top, true)|slice(0, 3, true) %}
                        {% set u = chart_extra.user[key] %}
                        <tr>
                            <td>{{form_checkbox("cbox", key, false, 'data-u="' ~ u.username~ '" data-p="' ~ val ~'"')|raw}}</td>
                            <td>{{loop.index}}</td>
                            <td><a href="{{site_url()}}/admin/user/edit/{{key}}/" target="_blank">{{u.username}}</a></td>
                            <td>{{val|number_format|default('-')}}元</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <table class="table table-bordered select-user">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>排名</td>
                        <td>用户ID</td>
                        <td>&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            {% endif %}
            <div class="search-user">
                <div class="block">
                    {{form_input("username", '')|raw}}
                    <label class="tip">查询其他用户</label>
                </div>
                <button type="button" class="btn">查询</button>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">用户</label>
            <div class="controls">
                <span id="sale-to" class="uneditable-input">{{car.sale_to}}</span>
                <input type="hidden" name="sale_to" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputFinalPrice">成交价</label>
            <div class="controls">
                {{form_input("final_price", car.final_price, "id=\"inputFinalPrice\"")|raw}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputFee">服务费用</label>
            <div class="controls">
                {{form_input("fee", car.fee, "id=\"inputFee\"")|raw}}
            </div>
        </div>

        <input type="hidden" name="base" value="{{site_url()}}" />
        <input type="hidden" name="id" value="{{car.id}}" />
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" name="complete" value="complete">提交</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
    </div>

    <!-- Modal Close -->
    <div id="closeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">交易终止</h3>
    </div>
    <div class="modal-body">
        <div id="modal-msg" class="label label-success"></div>
        <div class="well">
            <p>
                交易失败了？如果点错了，按关闭按钮。交易终止是<span class="label label-inverse">不可逆</span>的操作。
            </p>
        </div>

        <input type="hidden" name="id" value="{{car.id}}" />
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger" name="complete" value="complete">确定</button>
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
    </div>

    {% if car.status == 'auction' and sale_status == 'sold' %}
    <!-- Modal Re-auction -->
    <div id="re-auction" class="modal hide fade upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">车辆重新竞拍</h3>
    </div>
    <div class="modal-body">
        <div class="label label-success modal-msg"></div>
        <div class="well">
            <h3>注意</h3>
            <p>
                请填写销售开始时间，结束时间并点击确认按钮。
            </p>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputSaleStartDate">销售开始时间</label>
            <div class="controls">
                <div class="input-append date datepick">
                    {{form_input("sale_start_date", car.sale_start_date, "id=\"inputStartDate\"")|raw}}                                                                                           
                    <span class="add-on"><i class="icon-th"></i></span>                
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputSaleStartDate">销售结束时间</label>
            <div class="controls">
                <div class="input-append date datepick">
                    {{form_input("sale_end_date", car.sale_end_date, 'id="inputStartDate"')|raw}}                                                                                           
                    <span class="add-on"><i class="icon-th"></i></span>                
                </div>
            </div>
        </div>
        <input type="hidden" name="base" value="{{site_url()}}" />
        <input type="hidden" name="id" value="{{car.id}}" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" name="ok" value="complete">确认上架</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
    </div>
    {% endif %}

    {% if car.sale_type == 'auction' %}
    <!-- Modal auction to consign -->
    <div id="a2c" class="modal hide fade upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">车辆竞拍转寄售</h3>
    </div>
    <div class="modal-body">
        <div class="label label-success modal-msg"></div>
        <div class="well">
            <h3>注意</h3>
            <p>
                竞拍转寄售后, 原竞拍的信息会清空。请填写销售开始时间，结束时间并点击确认按钮。
            </p>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputSaleStartDate">销售开始时间</label>
            <div class="controls">
                <div class="input-append date datepick">
                    {{form_input("sale_start_date", car.sale_start_date, "id=\"inputStartDate\"")|raw}}                                                                                           
                    <span class="add-on"><i class="icon-th"></i></span>                
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputSaleStartDate">销售结束时间</label>
            <div class="controls">
                <div class="input-append date datepick">
                    {{form_input("sale_end_date", car.sale_end_date, 'id="inputStartDate"')|raw}}                                                                                           
                    <span class="add-on"><i class="icon-th"></i></span>                
                </div>
            </div>
        </div>
        <input type="hidden" name="base" value="{{site_url()}}" />
        <input type="hidden" name="id" value="{{car.id}}" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" name="ok" value="complete">确认上架</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
    </div>
    {% endif %}

</form>

</div>
{% endblock %}
