{% extends "admin.html" %}


{% block operate %}
<div class="container">
    <h3>代购查询
    </h3>
<div class="clearfix row-fluid">
    <div class="span3">
        <form id="purchase_search_form" action="{{site_url()}}/admin/purchase"  method="post" class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputName">姓名</label>
                <div class="controls">
                    {{form_input("name", search.name, "placeholder=\"姓名\"")|raw}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPhone">手机</label>
                <div class="controls">
                    {{form_input("phone", search.phone, "placeholder=\"手机号\"")|raw}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputModel">品牌车型</label>
                <div class="controls">
                    {{model_dropdown2("model", search.model, "id=\"inputModel\"")|raw}}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary pull-right">&nbsp;搜&nbsp;&nbsp;索&nbsp;</button>
                </div>
            </div>
        </form>
    </div>

    {% endblock %}

    {% block data %}

    <div class="span9">

        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>姓名</th>
                <th>手机号</th>
                <th>型号</th>
                <th>登记时间</th>
            </tr>
            </thead>
            <tbody>
            {% for item in purchase %}
            <tr>
                <td>{{loop.index + search.start}}</td>
                <td>{{item.name}}</td>
                <td>{{item.phone}}</td>
                <td>{{model_value(item.model)}}</td>
                <td>{{item.created|date('Y-m-d H:i')}}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="8"><em>查了半天，没有数据，等会刷新一下吧.</em></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="hidden" name="base" value="{{site_url()}}"/>
        {{pagination|raw}}
    </div>
</div>
    </div>
{% endblock %}

