{% extends "admin.html" %}

{% block operate %}
<div class="container">
    <h1>汽车销售一览</h1>
    {{form_open("/admin/car/index", "class=\"form-inline\"")|raw}}
        <span class="label">车牌号</span>
        {{form_input("car_num", search.car_num, "placeholder=\"车牌号\"")|raw}}
        <span class="label">发动机号</span>
        {{form_dropdown("role", param.role, search.role)|raw}}
        <span class="label">是否可用</span>
        {{form_dropdown("enable", param.enable, search.enable, "class=\"input-small\"")|raw}}
        <button type="submit" class="btn btn-primary">Go!</button>
    </div>
    </form>
</div>
{% endblock %}

{% block data %}
<div class="container">
    <table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>登录名</th>
            <th>姓名</th>
            <th>手机号</th>
            <th>用户类型</th>
            <th>是否可用</th>
            <th>登录时间</th>
        </tr>
    </thead>
    <tbody>
    {% for item in cars %}
        <tr>
            <td>{{loop.index + search.start}}</td>
            <td><a href="{{site_url()}}/admin/car/edit/{{item.id}}">{{item.carname}}</a></td>
            <td>{{item.name}}</td>
            <td>{{item.phone}}</td>
            <td>{{option_value("role", item.role)}}</td>
            <td>
            {% if item.enable == 'Y' %}
            <a class="label label-success" href="{{site_url()}}/admin/car/disable/{{item.id}}">
            {{option_value("enable", item.enable)}}
            </a>
            {% else %}
            <a class="label" href="{{site_url()}}/admin/car/enable/{{item.id}}">
            {{option_value("enable", item.enable)}}
            </a>
            {% endif %}
            </td>
            <td>{{item.last_logged}}</td>
        </tr>
    {% else %}
        <tr><td colspan="7"><em>查了半天，没有数据，不如添加一条吧.</em></td></tr>
    {% endfor %}
    </tbody>
    </table>
    <a class="btn span2" href="{{site_url()}}/admin/car/edit/0">新增</a>
    {{pagination|raw}}
</div>

{% endblock %}
