{% extends "admin.html" %}

{% block operate %}
{% endblock %}

{% block data %}
<div id="auction" class="container">
    <h3>车辆拍卖: {{car.user_name}}</h3>
    <hr>

    <p id="msg"></p>
    {{form_open("/admin/car/auction/" ~ car.id ~ "/save/", "class=\"form-horizontal\" enctype=\"multipart/form-data\"")|raw}}

    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#prebook">预约信息</a></li>
        <li><a href="#detect">车辆检测</a></li>
        <li><a href="#albums">图片</a></li>
        <li><a href="#sale">销售指导</a></li>
    </ul>

    <div class="tab-content">
        <!-- start prebook -->
        <div class="tab-pane active" id="prebook">
            <div class="control-group">
                <label class="control-label" for="inputName">姓名</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{car.user_name}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPhone">手机号</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{car.user_phone}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputModel">型号</label>
                <div class="controls">
                    <span class="input-medium uneditable-input span4">{{model_value(car.model)}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputArea">地区</label>
                <div class="controls">
                    <span class="input-medium uneditable-input span4">{{area_value(car.area)}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputBuyDate">购买日期</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{car.buy_date}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputMileage">里程</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{car.mileage|number_format}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputRemark">备注</label>
                <div class="controls well well-small">
                    {{car.remark}}
                </div>
            </div>

            {% if car.id %}
            <div class="control-group">
                <label class="control-label">预约日期</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{car.created}}</span>
                </div>
            </div>
            {% endif %}
        </div>
        <!-- end prebook -->

        <!-- start detect -->
        <div class="tab-pane" id="detect">
            <div class="control-group">
                <label class="control-label" for="inputCarNum">车牌号</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{car.car_num}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputFactoryDate">出厂日期</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{car.factory_date}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputEngineNum">发动机号</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{car.engine_num}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputChassisNum">车架号</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{car.chassis_num}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputColor">车身颜色</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{option_value("color", car.color)}} <font style="background-color:{{car.color}}">{{str_repeat("&nbsp;", 8)|raw}}</font></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputDisplacement">排量</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{car.displacement}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputTransmission">变速箱</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{option_value("transmission", car.transmission)}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputFuel">燃料种类</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{option_value("fuel", car.fuel)}}</span>
                </div>
            </div>
        </div>
        <!-- end detect -->

        <!-- start sale -->
        <div class="tab-pane" id="sale">
            <div class="control-group">
                <label class="control-label" for="inputSaleType">销售类型</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{option_value("sale_type", car.sale_type)}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputMarketPrice">市场价</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">RMB {{car.market_price|number_format}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputConditionScore">车况级别评分</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">{{option_value("condition_score", car.condition_score)}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputAccidentLevel">事故等级</label>
                <div class="controls">
                    <span class="input-medium uneditable-input span4">{{option_value("accident_level", car.accident_level)}}</span>
                </div>
           </div>

            <div class="control-group">
                <label class="control-label" for="inputSalePrice">出让价</label>
                <div class="controls">
                    <span class="input-medium uneditable-input">RMB {{car.sale_price|number_format}}</span>
                </div>
            </div>
        </div>
        <!-- end sale -->

        <!-- start albums -->
        <div class="tab-pane" id="albums">
            <div>
                <ul class="thumbnails">
                {% set images = json_decode(car.images, true) %}
                {% if images %}
                {% for val in images %}
                <li class="span2">
                    <img src="{{base_url()}}assets/upload/{{val}}" alt="" />
                </li>
                {% endfor %}
                {% endif %}
            </div>
            <br>
        </div>
        <!-- end albums -->
    </div>

    <div class="control-group">
        <div class="controls">
            <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">车辆上架</a>
            <button type="submit" class="btn">数据有误,重新检测</button>
            <a href="{{site_url()}}/admin/car/auction/" class="btn">返回</a>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal hide fade upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">车辆上架</h3>
    </div>
    <div class="modal-body">
        <div id="modal-msg" class="label label-success"></div>
        <div class="well">
            <h3>注意</h3>
            <p>车辆上架后不可更改信息。</p>
            <p>
                请详细检查车辆各项参数信息，确认无误后填写销售开始时间，结束时间并点击确认按钮。
            </p>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputSaleStartDate">销售开始时间</label>
            <div class="controls">
                <div class="input-append date datepick">
                    {{form_input("sale_start_date", car.sale_start_date, "id=\"inputStartDate\"")|raw}}                                                                                           
                    <span class="add-on"><i class="icon-th"></i></span>                
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputSaleStartDate">销售结束时间</label>
            <div class="controls">
                <div class="input-append date datepick">
                    {{form_input("sale_end_date", car.sale_end_date, "id=\"inputStartDate\"")|raw}}                                                                                           
                    <span class="add-on"><i class="icon-th"></i></span>                
                </div>
            </div>
        </div>
        <input type="hidden" name="base" value="{{site_url()}}" />
        <input type="hidden" name="id" value="{{car.id}}" />
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" name="complete" value="complete">确认上架</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
    </div>

</form>

</div>
{% endblock %}
