{% extends "base.html" %}
{% block head %}
    <meta charset="utf-8">
    <title>管理平台 - 我爱我车</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="{{base_url()}}assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{base_url()}}assets/css/admin.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="{{base_url()}}assets/js/html5shiv.js"></script>
    <![endif]-->
    <script src="{{base_url()}}assets/js/jquery.min.js"></script>
    <script src="{{base_url()}}assets/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}
{% block footer %}
{% endblock %}
