{% extends "site.html" %}
{% block data %}
<div id="buy" class="container">
    <div class="clearfix row-fluid">
        <div class="span3">
            <div class="list clearfix">
                <div class="head"><span class="title"><i class="icon-tag icon-white"></i> 我要买车</span></div>
                <ul class="clearfix">
                {% set route = get_route() %}
                    <li{% if route.method == 'auction' %} class="active" {%endif%}><a href="{{site_url()}}/buy/auction">竞拍车辆</a></li>
                    <li{% if route.method == 'consign' %} class="active" {%endif%}><a href="{{site_url()}}/buy/consign">寄售车辆</a></li>
                </ul>
            </div>
        </div>

        <div class="span9">
            <div class="detail clearfix">
                <div class="sale data clearfix">
                <ul class="clearfix">
                    {% for item in auction %}
                    <li>
                        <div class="img"><a href="{{site_url()}}/buy/car/{{item.id}}"><img src="{{base_url()}}assets/upload/{{array_pop(json_decode(item.images, true))}}" /></a></div>
                        <div class="misc">
                            <p>{{model_value(item.model)}}</p>
                            <p>出厂年月: {{item.factory_date|date('Y-m')}}</p>
                            <p>等级: {{item.condition_score}}{{item.accident_level}}</p>

                        {% if item.sale_status == 'presale' %}
                            <p>竞拍开始时间</p>
                            <p>{{item.sale_start_date|date('Y-m-d H:i')}}</p>
                        </div>
                        <div><a href="{{site_url()}}/buy/car/{{item.id}}" class="btn btn-info">即将开始</a></div>
                        {% elseif item.sale_status == 'selling' %}
                            <p>开始时间</p>
                            <p>{{item.sale_start_date|date('Y-m-d H:i')}}</p>
                        </div>
                        <div><a href="{{site_url()}}/buy/car/{{item.id}}" class="btn btn-primary">{% if is_pay(user.id, item.id) %}已参与竞拍{% else %}我要竞拍{% endif %}</a></div>
                        {% else %}
                            <p>竞拍结束时间</p>
                            <p>{{item.sale_end_date|date('Y-m-d H:i')}}</p>
                            {% if item.bid_num %}
                            <p>竞拍人数: {{item.bid_num}}人</p>
                            {% endif %}
                        </div>
                        <div><a href="{{site_url()}}/buy/car/{{item.id}}" class="btn">已经结束</a></div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                </div>
            {{pagination|raw}}
            </div>
        </div>
    </div>

</div>
{% endblock %}
