{% extends "site.html" %}
{% block data %}
<div id="home" class="container">
    <!-- carousel -->
    <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="{{base_url()}}assets/upload/img/carousel/carousel-01.jpg?v=0.0.1" alt="">
            </div>
            <div class="item">
                <a href="http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D%E5%8D%97%E4%BA%AC%E5%B8%82%E5%BB%BA%E9%82%BA%E5%8C%BA%E6%9C%88%E5%AE%89%E8%A1%9759-3%E5%8F%B7" target="_blank">
                    <img src="{{base_url()}}assets/upload/img/carousel/carousel-02.jpg?v=0.0.1" alt="">
                </a>
            </div>
            <div class="item">
                <img src="{{base_url()}}assets/upload/img/carousel/carousel-03.jpg?v=0.0.1" alt="">
                <div class="carousel-caption">
                    <p>买车验车，仁人易车。专业的车辆检测，让您轻松买卖。您只需要在线预约，QQ或拨打电话400-997-0017联系我们。</p>
                </div>
            </div>
            <div class="item">
                <img src="{{base_url()}}assets/upload/img/carousel/carousel-04.jpg?v=0.0.1" alt="">
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <div class="clearfix">
        <div class="span8">

            <!-- c_consign -->
            <div id="c_consign" class="sale clearfix">
                <div class="head"><span class="title">车辆信息展示</span><span class="btn-link more"><a href="{{site_url()}}/buy/c_consign">更多</a></span></div>
                <ul class="clearfix">
                    {% if c_consign %}
                    {% for item in c_consign %}
                    <li>
                        <div class="img"><img src="{{base_url()}}assets/upload/{{array_pop(json_decode(item.images, true))}}" /></div>
                        <div class="misc">
                            <p>{{model_value(item.model)}}</p>
                            <p>出厂年月: {{item.factory_date|date('Y-m')}}</p>
                            <p>技术等级: {{item.appraisal_level}}</p>
                            <p>价格: {{item.sale_price|number_format}}元</p>
                        </div>
                        <div><a href="{{site_url()}}/buy/car/{{item.id}}" class="btn">查看详情</a></div>
                    </li>
                    {% endfor %}
                    {% endif %}

                    {% if b_consign %}
                    {% for item in b_consign %}
                    <li>
                        <div class="img"><img src="{{base_url()}}assets/upload/{{array_pop(json_decode(item.images, true))}}" /></div>
                        <div class="misc">
                            <p>{{model_value(item.model)}}</p>
                            <p>出厂年月: {{item.factory_date|date('Y-m')}}</p>
                            <p>技术等级: {{item.appraisal_level}}</p>
                            <p>价格: {{item.sale_price|number_format}}元</p>
                        </div>
                        <div><a href="{{site_url()}}/buy/car/{{item.id}}" class="btn">查看详情</a></div>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>

            <!-- social -->
            <div id="followme" class="clearfix">
                <a href="#weixinModal" data-toggle="modal" ><img src="{{base_url()}}assets/img/icon-weixin.jpg" alt="微信" title="微信" /></a>
                <a href="http://t.qq.com/renrenyiche" target="_blank"><img src="{{base_url()}}assets/img/icon-tqq.jpg" alt="腾讯微博" title="腾讯微博" />
                <a href="http://weibo.com/u/3558454641" target="_blank"><img src="{{base_url()}}assets/img/icon-weibo.jpg" alt="新浪微博" title="新浪微博" /></a>
            </div>
            <div id="weixinModal" class="modal hide fade">
            <div class="modal-header clearfix">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p><img src="{{base_url()}}/assets/img/icon-weixin-qr.png?v=1.1" alt="扫描一下，关注我" title="扫描一下，关注我" /></p>
            </div>
            <div class="modal-footer">
                扫描一下，关注我&nbsp;
            </div>
            </div>

        </div>

        <div class="span4">
            <div class="banner">
            <div class="head"><span class="title">寻车代购</span></div>
            <div class="data">
                <form id="purchase-form" action="{{site_url()}}/api/purchase"  method="post" class="form-horizontal">
                    <div id="purchase_msg"></div>
                    <div class="control-group">
                        <label class="control-label" for="inputName">姓名</label>
                        <div class="controls">
                            <input type="text" id="inputName" placeholder="姓名" name="name">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPhone">手机</label>
                        <div class="controls">
                            <input type="text" id="inputPhone" placeholder="手机" name="phone">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputModel">代购要求</label>
                        <div class="controls">
                            <textarea style="width: 180px;" rows="5" id="inputContent" placeholder="如10万以内大众手动挡轿车" name="content"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> 确认提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
            {% if agency_list %}
            <div class="banner">
                <div class="head"><span class="title">诚信销售商</span></div>
                <div id="agency-list" class="data">
                    <ul>
                        {% for agency in agency_list %}
                        <li><a href="{{site_url()}}/homepage/agency/{{agency.id}}">{{agency.agency_name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

            <div class="banner">
                <div class="head"><span class="title">最新活动</span><span class="btn-link more"><a href="{{site_url()}}/news/">更多</a></span></div>
                <div class="data">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#activity">{{option_value('tag', 'activity')}}</a></li>
                        <li><a href="#news">{{option_value('tag', 'news')}}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="activity">
                            <ul>
                                {% for item in article.activity %}
                                <li><a href="{{site_url()}}/article/activity/{{item.id}}">{{item.title}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="tab-pane" id="news">
                            <ul>
                                {% for item in article.news %}
                                <li><a href="{{site_url()}}/article/news/{{item.id}}">{{item.title}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% set user = session_value("user") %}
{% if user %}
<div id="notification" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>重要通知</h3>
    </div>
    <div class="modal-body">
        <p>2014年1.1起，仁人易车会员取消所有交易佣金即以后所有成交车辆交易不再需要缴纳2%的佣金，全部免费！</p>
        <p>整个1月份为会员招募期，只要有成交，无论多少辆车子只收取1000元/月的会员信息服务费！</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">确定</a>
    </div>
</div>
<script type="text/javascript">//<![CDATA[
//$('#notification').modal('show');
//]]></script>
{% endif %}
{% endblock %}
