{% extends "site.html" %}
{% block data %}
<div id="article" class="container">
<div class="clearfix row-fluid">

<div class="span9">
    {% set extra = json_decode(car.extra, true)%}
    <div class="clearfix">
        <div class="detail clearfix">
            <div id="article-content">
                <h3>{{promotion.title}}</h3>
                <div class="">{{promotion.content|raw}}</div>
            </div>
        </div>
    </div>
</div>
<div class="span3">
    <div class="list clearfix">
        <div class="head"><span class="title">{{agency.agency_name}}</span></div>
        <ul>
            <li>联&nbsp;系&nbsp;人&nbsp;：{{agency.contact_name}}</li>
            <li>联系电话：{{agency.contact_phone}}</li>
            <li>详细地址：{{agency.agency_address}}</li>
        </ul>
    </div>
</div>

</div>

</div>
{% endblock %}
