{% extends "base.html" %}
{% block head %}
    <meta charset="utf-8">
    <title>{{title}} - 仁人易车</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="{{base_url()}}assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{base_url()}}assets/css/site.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="{{base_url()}}assets/js/html5shiv.js"></script>
    <![endif]-->
    <script src="{{base_url()}}assets/js/jquery.min.js"></script>
    <script src="{{base_url()}}assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{base_url()}}assets/js/site.min.js"></script>
{% endblock %}
{% block content %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{site_url()}}" title="返回首页" alt="返回首页"><span class="icon-home icon-white"></span></a>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        {% set user = session_value("user") %}
                        {% if not user %}
                        <li><a href="{{site_url()}}/login/">登录</a></li>
                        {% else %}
                        <li><a href="#">您好, {{user.name}}</a></a>
                        {%if user.role in ["admin", "super"] %}
                        <li><a href="{{site_url()}}/admin/">管理</a></li>
                        {% endif %}
                        <li><a href="{{site_url()}}/logout/" title="退出" alt="退出"><span class="icon-off icon-white"></span></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% block data %}
    {% endblock %}
{% endblock %}
{% block footer %}
<footer class="footer">
    <div class="container">
        <p>仁人易车全新的二手车交易理念，一站式服务，全程让您满意</p>
        <p>&copy;仁人易车 苏ICP备xxxxxx号</p>
        <ul class="footer-links">
            <li><a href="{{base_url()}}">关于仁人易车</a></li>
            <li class="muted">|</li>
            <li><a href="{{base_url()}}">服务声明</a></li>
        </ul>
    </div>
</footer>

{% endblock %}
